body{
	background-color: #f6f6f6;
	display: flex;
	justify-content:center;
}
.left{
	width: 450px;
	margin-top: 70px; 
	display:inline-block;
}
a{
	text-decoration: 1px underline #1877f2;
}

form{
	background: rgb(255,255,255);
	border-radius: 5px;
	display:flex;
	width: 300px;
	padding: 20px;
	box-shadow: rgb(204, 204, 204) 0px 0px 10px 0px;
	flex-direction: column;
	gap: 10px;
}

input{
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px;
	padding: 10px;
}
button{
	color: white;
	background-color: #1877f2;
	border-radius: 5px;
	padding: 10px 20px;
	flex-grow: 1;
}
.signup{
/* 	align-self: center; */
	background-color: #42b72a;
}